body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;

}
p{
    color: dimgray;
}
.n1
{
    color: tomato;
}
ul {
    list-style-type: none;
}
.menu-part{
    height: 10px;
}
.main-menu{
    width: 1170px;
    height: 100%;
    float: left;
}
.main-menu ul li {
    float: left;
}

.main-menu ul {
    float: right;
}
.main-menu ul li a {
    color:dimgray;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: 30px;
    text-decoration: none;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
    
}
.half-width h1{
    text-transform: uppercase;
    color: dimgray;
    margin-bottom: -7px;
}
.half-width img {
width: 100%;
}

section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(60deg,lightsalmon, tomato);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.half-width h2
{
    text-transform: uppercase;
    color: dimgray;
}
    .my-work{
        box-shadow: 10px 10px 40px;
        border-radius: 5px;
        height: 70%;
    }
    .working-project{
       background-color: gainsboro;
    }
    .working-project h2{
        text-align: center;
        text-transform: uppercase;
        color: dimgray;
    }
    #work1{
        width: 25%;
        background-color: white;
   
    }
    #work2{
        width: 25%;
        background-color: white;
    }
    #work3{
        width: 25%;
        background-color: white;
    }
    .Work-inq{
        background-image: url("shapes/Group_33094_1.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 40%;
        margin-left: 300px;
    }
    .inq-area{
        text-transform: uppercase;
        color: white;
        margin-left: 50px;
        margin-top: 20px;
    }
    .chat-button{
        float: right;
        margin-right: 50px;
    }
    footer{
        text-align:center;
    }
    footer h3{
        text-transform: uppercase;
        color: dimgray;
    }
    footer p{
        color: darkgrey;
    }